#scrolly {
  position: relative;
  display: flex;
}

#scrolly > * {
  flex: 1;
}

article {
  position: relative;
  max-width: 37%;
  background-color: rgb(238, 238, 238);
}

figure {
  position: sticky;
  width: 100%;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: blue;
}

.step {
  /* background-color: #3b3b3b;
  color: #fff; */
  display: flex;
  justify-content: left;
  padding-left: 1.5rem;
  align-items: center;
}

.step:last-child {
  margin-bottom: 0;
}

/* .step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
} */

.step p {
  padding: 1rem;
  font-size: 1.5rem;
}

.paragraph {
  height: 50vh;
}
